#flowers{
    position:fixed;
    inset:0;
    pointer-events:none;
    overflow:hidden;
    z-index:-1;
}

.flower{
    position:absolute;
    top:-50px;
    animation:fall linear infinite;
    opacity:.8;
}

@keyframes fall{

0%{
    transform:translateY(-10vh) rotate(0deg);
}

100%{
    transform:translateY(120vh) rotate(360deg);
}

}
