/* =========================================
   PAPER PANJANG
========================================= */

.paper {
    min-height: 82vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#letterContent {
    min-height: 58vh;

    font-family: "Cormorant Garamond", serif;

    letter-spacing: 0.02em;
}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 768px) {

    .paper {
        min-height: 88vh;
    }

    #letterContent {
        min-height: 62vh;
        font-size: 20px;
        line-height: 1.9;
    }

}


/* =========================================
   SMALL PHONE
========================================= */

@media (max-width: 480px) {

    .paper {
        min-height: 90vh;
    }

    #letterContent {
        min-height: 65vh;
        font-size: 18px;
        line-height: 1.85;
    }

}
